<div class="contenedor-tabla">
  <div class="encabezado">
    <h3>Todos los Proveedores</h3>

    <div class="acciones">
      <div class="buscar-container">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Buscar..." class="buscar" />
      </div>

      <button class="agregar" (click)="abrirModal()"><i class="fas fa-plus"></i> Agregar</button>
    </div>
  </div>

  <table class="tabla-generica">
    <thead>
      <tr>
        <th>ID_PROV</th>
        <th>Nombre</th>
        <th>Contacto</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Dirección</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (proveedor of proveedores; track proveedor.id_prov) {
      <tr>
        <td>{{ proveedor.id_prov }}</td>
        <td>{{ proveedor.nombre }}</td>
        <td>{{ proveedor.contacto }}</td>
        <td>{{ proveedor.telefono }}</td>
        <td>{{ proveedor.email }}</td>
        <td>{{ proveedor.direccion }}</td>
        <td class="acciones-column">
          <div class="acciones-fila" (click)="abrirMenu(proveedor.id_prov)">⋮</div>

          @if(menuAbierto === proveedor.id_prov) {
                <div class="menu-opciones" >
                  <div class="menu-item modificar" (click)="abrirModalEditar(proveedor)">
                    <i class="fas fa-edit"></i> Modificar
                  </div>
                  <div class="menu-item eliminar" (click)="abrirModalEliminar(proveedor)">
                    <i class="fas fa-trash"></i> Eliminar
                  </div>
                </div>
              }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- ===================== MODAL AGREGAR ===================== -->
@if (mostrarModal) {
<div class="modal-overlay" (click)="cerrarModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="btn-cerrar" (click)="cerrarModal()">
      <i class="fas fa-times"></i>
    </button>

    <h2 class="modal-titulo">NUEVO PROVEEDOR</h2>

    <form class="modal-form">
      <div class="form-row">
        <label>ID_PROV</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.id_prov" name="id1" />
      </div>

      <div class="form-row">
        <label>Nombre</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.nombre" name="nom1" />
      </div>

      <div class="form-row">
        <label>Contacto</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.contacto" name="con1" />
      </div>

      <div class="form-row">
        <label>Teléfono</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.telefono" name="tel1" />
      </div>

      <div class="form-row">
        <label>Email</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.email" name="ema1" />
      </div>

      <div class="form-row">
        <label>Dirección</label>
        <input
          type="text"
          class="input-modal"
          [(ngModel)]="proveedorActual.direccion"
          name="dir1"
        />
      </div>

      <button type="button" class="btn-guardar" (click)="guardarProveedor()">GUARDAR</button>
    </form>
  </div>
</div>
}

<!-- ===================== MODAL EDITAR ===================== -->
@if (mostrarModalEditar) {
<div class="modal-overlay" (click)="cerrarModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="btn-cerrar" (click)="cerrarModal()">
      <i class="fas fa-times"></i>
    </button>

    <h2 class="modal-titulo">EDITAR PROVEEDOR</h2>

    <form class="modal-form">
      <div class="form-row">
        <label>ID_PROV</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.id_prov" name="id2" />
      </div>

      <div class="form-row">
        <label>Nombre</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.nombre" name="nom2" />
      </div>

      <div class="form-row">
        <label>Contacto</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.contacto" name="con2" />
      </div>

      <div class="form-row">
        <label>Teléfono</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.telefono" name="tel2" />
      </div>

      <div class="form-row">
        <label>Email</label>
        <input type="text" class="input-modal" [(ngModel)]="proveedorActual.email" name="ema2" />
      </div>

      <div class="form-row">
        <label>Dirección</label>
        <input
          type="text"
          class="input-modal"
          [(ngModel)]="proveedorActual.direccion"
          name="dir2"
        />
      </div>

      <button type="button" class="btn-guardar" (click)="guardarEdicion()">GUARDAR CAMBIOS</button>
    </form>
  </div>
</div>
}

<!-- ========== MODAL ELIMINAR USUARIO ========== -->
@if(mostrarModalEliminar) {
<div class="modal-overlay" (click)="mostrarModalEliminar = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="btn-cerrar" (click)="mostrarModalEliminar = false">
      <i class="fas fa-times"></i>
    </button>

    <h2 class="modal-titulo">¿Eliminar proveedor?</h2>

    <p style="text-align: center; font-size: 1.1rem">
      Se eliminará <strong>{{ proveedorAEliminar.nombre }}</strong>
    </p>

    <div style="display: flex; justify-content: center; gap: 20px; margin-top: 20px">
      <button class="btn-guardar" style="background: #bbb" (click)="mostrarModalEliminar = false">
        Cancelar
      </button>

      <button class="btn-guardar" style="background: #ff4d4d" (click)="confirmarEliminar()">
        Eliminar
      </button>
    </div>
  </div>
</div>
}