.app-layout {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

app-navbar {
  width: 200px;
  flex-shrink: 0;
  flex-grow: 0;
}

.main-content {
  flex: 1;
  margin: 0;
  padding: 20px;
  background: #fff6f6;
  overflow-y: auto;
  margin-left: 0;
  width: calc(100% - 200px);
}
